[Desktop Entry]
Version=1.0
Type=Application
Name=IntelliJ IDEA Ultimate Edition
Icon=/home/spencer/apps/ideaIU-2019.1.4/idea-IU-191.8026.42/bin/idea.svg
Exec="/home/spencer/apps/ideaIU-2019.1.4/idea-IU-191.8026.42/bin/idea.sh" %f
Comment=Capable and Ergonomic IDE for JVM
Categories=Development;IDE;
Terminal=false
StartupWMClass=jetbrains-idea
